/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--font-weight-text)
    var(--font-weight-title);
  background-color: var(--background-color, rgba(255, 255, 255, 1));
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-color, rgba(0, 0, 0, 1));
  width: var(--content-container);
  margin-inline: auto;
}

.header {
  min-block-size: 364px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--background-color, rgba(255, 255, 255, 1));
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--accent-font, sans-serif);
  font-weight: var(--font-weight-text);
}

.header__logo {
  font-size: var(--font-size-title);
  text-transform: uppercase;
  text-decoration: none;
}

.header__title {
  font-size: var(--font-size-subtitle);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 11px;
  padding-left: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.theme-menu__item {
  position: relative;
}

/*кнопки*/
.theme-menu__button {
  text-transform: uppercase;
  line-height: 14px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -15px;
  inset-block-start: 0;
  color: var(--main-color, rgba(0, 0, 0, 1));
  opacity: 0.6;
  animation-name: arrow;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: ease 0.3s;
  pointer-events: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  width: 90%;
  inset-inline-start: 5px;
  inset-block-end: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: ease 0.3s;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: transparent;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1, 1);
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: ease 0.3s;
}
/*карточки*/
.article {
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  margin-bottom: 52px;
  background-color: var(--background-color);
}

.cart_title {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 21.78px;
  text-align: left;
  font-weight: var(--font-weight-title);
  padding-inline: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 2px solid black;
}

.image-cont {
  position: relative;
}

.card__label {
  font-size: 14px;
  line-height: 14px;
  right: 25px;
  top: 25px;
  padding-top: 10px;
  position: absolute;
  font-family: var(--accent-font, sans-serif);
  font-weight: var(--font-weight-text);
  text-shadow: 0 0 1px var(--background-color, rgba(255, 255, 255, 1));
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.card_text {
  padding-top: 27px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

@supports (
    -webkit-text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1))
  )
  or (text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1))) {
  .card__label {
    -webkit-text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1));
  }
}

.card__content-text {
  font-family: var(--main-font, sans-serif);
  font-weight: var(--font-weight-text);
  line-height: 21px;
  font-size: 18px;
  color: var(--main-color, rgba(0, 0, 0, 1));
  padding-inline: 25px;
}

.button-card_content {
  padding-inline-end: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-block: 25px;
}

.button {
  font-family: var(--accent-font, sans-serif);
  font-weight: var(--font-weight-text);
  color: var(--main-color, rgba(0, 0, 0, 1));
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  position: relative;
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
}

.card__icon-button {
  background-color: transparent;
  padding: 0;
  align-self: self-end;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  transition: 0.3s ease;
}

.card__like-button {
  width: 130px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color, rgba(0, 0, 0, 1));
  transition: ease 0.3s;
  outline: none;
}

.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset-inline-start: 0;
  inset-block-end: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: ease 0.3s;
  background-color: var(--main-color, rgba(0, 0, 0, 1));
}

.button:hover::after {
  cursor: pointer;
  transform: scale(1, 1);
}

.button__text {
  position: relative;
  color: var(--color-like-button, rgba(255, 255, 255, 1));
  mix-blend-mode: difference;
  z-index: 2;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  text-align: left;
}

/*будет попап*/

.dialog {
  background-color: var(--background-color, rgba(255, 255, 255, 1));
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  padding: 30px;
}

.dialog-popup {
  width: 335px;
  height: 55px;
  margin-inline: auto;
  margin-block-end: 100px;
  background-color: var(--background-color, rgba(255, 255, 255, 1));
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 8px;
}

.dialog:is([open]) .window {
  display: flex;
  gap: 20px;
  margin-block-end: 30px;
}

.dialog:is([open]) .disk {
  align-self: center;
}

.window {
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 21px;
  color: var(--main-color, rgba(0, 0, 0, 1));
  text-transform: uppercase;
}

.dialog-text {
  inline-size: 234px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.75;
}

.dialog-button {
  width: 293px;
  height: 38px;
  text-transform: uppercase;
}

.disk {
  width: 21px;
  height: 21px;
  align-self: center;
}

.dialog-disk {
  width: 39px;
  height: 39px;
  align-self: center;
}

@media (width < 480px) {
  .page {
    width: 100%;
  }

  .header {
    min-block-size: 327px;
    padding-top: 0px;
  }

  .header__logo {
    margin-block-start: 120px;
  }

  .image-cont {
    block-size: 375px;
    margin-block-end: 26px;
  }

  .dialog-popup {
    width: 306px;
    height: 84px;
    flex-direction: column;
  }

  .dialog {
    padding-inline: 40px;
  }

  .dialog-button {
    width: 257px;
  }
}

.bright {
  filter: brightness(105%);
}

.contrast {
  filter: contrast(70%);
}

.opacity {
  filter: opacity(0.5);
}

.hue-rotate {
  filter: hue-rotate(40deg);
}

.negative {
  filter: invert(30%);
}

.sepia {
  filter: sepia(70%) saturate(70%);
}

.game {
  filter: grayscale(40%);
}

